# New Section

In [ ]:
!pip install pystan~=2.14
!pip install fbprophet

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pystan~=2.14
  Downloading pystan-2.19.1.1-cp37-cp37m-manylinux1_x86_64.whl (67.3 MB)
     |████████████████████████████████| 67.3 MB 131 kB/s
Requirement already satisfied: Cython!=0.25.1,>=0.22 in /usr/local/lib/python3.7/dist-packages (from pystan~=2.14) (0.29.32)
Requirement already satisfied: numpy>=1.7 in /usr/local/lib/python3.7/dist-packages (from pystan~=2.14) (1.21.6)
Installing collected packages: pystan
  Attempting uninstall: pystan
    Found existing installation: pystan 3.3.0
    Uninstalling pystan-3.3.0:
      Successfully uninstalled pystan-3.3.0
Successfully installed pystan-2.19.1.1
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting fbprophet
  Downloading fbprophet-0.7.1.tar.gz (64 kB)
     |████████████████████████████████| 64 kB 1.8 MB/s
Requirement already satisfied: Cython>=0.22 in /usr/local/lib/python3.7/dist-packages (from fbprophet) (0.29.32)
Collecting cmdstanpy==0.9.5
  Downloading cmdstanpy-0.9.5-py3-none-any.whl (37 kB)
Requirement already satisfied: pystan>=2.14 in /usr/local/lib/python3.7/dist-packages (from fbprophet) (2.19.1.1)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from fbprophet) (1.21.6)
Requirement already satisfied: pandas>=1.0.4 in /usr/local/lib/python3.7/dist-packages (from fbprophet) (1.3.5)
Requirement already satisfied: matplotlib>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from fbprophet) (3.2.2)
Requirement already satisfied: LunarCalendar>=0.0.9 in /usr/local/lib/python3.7/dist-packages (from fbprophet) (0.0.9)
Requirement already satisfied: convertdate>=2.1.2 in /usr/local/lib/python3.7/dist-packages (from fbprophet) (2.4.0)
Requirement already satisfied: holidays>=0.10.2 in /usr/local/lib/python3.7/dist-packages (from fbprophet) (0.16)
Requirement already satisfied: setuptools-git>=1.2 in /usr/local/lib/python3.7/dist-packages (from fbprophet) (1.2)
Requirement already satisfied: python-dateutil>=2.8.0 in /usr/local/lib/python3.7/dist-packages (from fbprophet) (2.8.2)
Requirement already satisfied: tqdm>=4.36.1 in /usr/local/lib/python3.7/dist-packages (from fbprophet) (4.64.1)
Requirement already satisfied: pymeeus<=1,>=0.3.13 in /usr/local/lib/python3.7/dist-packages (from convertdate>=2.1.2->fbprophet) (0.5.11)
Requirement already satisfied: korean-lunar-calendar in /usr/local/lib/python3.7/dist-packages (from holidays>=0.10.2->fbprophet) (0.3.1)
Requirement already satisfied: hijri-converter in /usr/local/lib/python3.7/dist-packages (from holidays>=0.10.2->fbprophet) (2.2.4)
Requirement already satisfied: ephem>=3.7.5.3 in /usr/local/lib/python3.7/dist-packages (from LunarCalendar>=0.0.9->fbprophet) (4.1.3)
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from LunarCalendar>=0.0.9->fbprophet) (2022.6)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.0.0->fbprophet) (1.4.4)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.0.0->fbprophet) (3.0.9)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.0.0->fbprophet) (0.11.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib>=2.0.0->fbprophet) (4.1.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.8.0->fbprophet) (1.15.0)
Building wheels for collected packages: fbprophet
  Building wheel for fbprophet (setup.py) ... done
  Created wheel for fbprophet: filename=fbprophet-0.7.1-py3-none-any.whl size=6638858 sha256=0f012a9b9f3c82da24904a5b4c9e0b3b4e502a55c6d5aa8b49f7e7188786954f
  Stored in directory: /root/.cache/pip/wheels/cd/a1/12/db63ff624de492fe6cccf676091a0860fdde2ffde4bc3280e2
Successfully built fbprophet
Installing collected packages: cmdstanpy, fbprophet
  Attempting uninstall: cmdstanpy
    Found existing installation: cmdstanpy 1.0.8
    Uninstalling cmdstanpy-1.0.8:
      Successfully uninstalled cmdstanpy-1.0.8
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
prophet 1.1.1 requires cmdstanpy>=1.0.4, but you have cmdstanpy 0.9.5 which is incompatible.
Successfully installed cmdstanpy-0.9.5 fbprophet-0.7.1

In [ ]:
from fbprophet import Prophet

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/sen10_jan_nov_aqi.csv')#, sheet_name='Sheet1')

In [ ]:
df.columns

Index(['SensorID', 'SensorCode', 'SensorName', 'Latitude', 'Longtitude',
       'Altitude', 'Date', 'New date', 'Time', 'Temperature', 'Humidity',
       'PM1.0', 'pm2.5', 'pm10', 'co', 'no2', 'so2', 'o3', 'UV', 'WindSpeed',
       'WindGust', 'Direction', 'Rainfall', 'PM2.5_AQI', 'PM10_AQI', 'CO_AQI',
       'NO2_AQI', 'MAX_O3_AQI', 'AQI'],
      dtype='object')

In [ ]:
df.dtypes

SensorID        object
SensorCode      object
SensorName      object
Latitude       float64
Longtitude     float64
Altitude       float64
Date            object
New date        object
Time            object
Temperature    float64
Humidity       float64
PM1.0            int64
pm2.5            int64
pm10             int64
co             float64
no2            float64
so2              int64
o3             float64
UV               int64
WindSpeed        int64
WindGust         int64
Direction       object
Rainfall         int64
PM2.5_AQI      float64
PM10_AQI       float64
CO_AQI         float64
NO2_AQI        float64
MAX_O3_AQI     float64
AQI            float64
dtype: object

In [ ]:
df

,SensorID,SensorCode,SensorName,Latitude,Longtitude,Altitude,Date,New date,Time,Temperature,...,WindSpeed,WindGust,Direction,Rainfall,PM2.5_AQI,PM10_AQI,CO_AQI,NO2_AQI,MAX_O3_AQI,AQI
0,564bb8cb-5c73-4554-b0dd-2244c2a28e28,Sensor10,Nguyên Tử Lực,11.966978,108.454849,1532.7,12/11/2022,11/12/2022,23:57:37,20.2,...,0,0,X,0,4.17,1.85,351.20,0.14,18.52,351.20
1,564bb8cb-5c73-4554-b0dd-2244c2a28e28,Sensor10,Nguyên Tử Lực,11.966997,108.454826,1527.1,12/11/2022,11/12/2022,23:52:46,20.3,...,0,0,X,0,0.00,0.00,349.40,0.14,18.52,349.40
2,564bb8cb-5c73-4554-b0dd-2244c2a28e28,Sensor10,Nguyên Tử Lực,11.966966,108.454826,1527.1,12/11/2022,11/12/2022,23:47:36,19.4,...,0,0,X,0,16.67,3.70,351.20,0.14,18.52,351.20
3,564bb8cb-5c73-4554-b0dd-2244c2a28e28,Sensor10,Nguyên Tử Lực,11.966986,108.454826,1527.1,12/11/2022,11/12/2022,23:42:42,19.2,...,0,0,X,0,0.00,0.93,349.40,0.14,18.52,349.40
4,564bb8cb-5c73-4554-b0dd-2244c2a28e28,Sensor10,Nguyên Tử Lực,11.966983,108.454826,1517.7,12/11/2022,11/12/2022,23:37:32,19.2,...,0,0,X,0,0.00,0.00,347.50,0.14,18.52,347.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24090,564bb8cb-5c73-4554-b0dd-2244c2a28e28,Sensor10,Nguyên Tử Lực,11.966998,108.454842,1523.8,13/04/2022,4/13/2022,0:21:07,18.6,...,0,0,X,0,159.00,63.37,13.64,0.26,18.52,159.00
24091,564bb8cb-5c73-4554-b0dd-2244c2a28e28,Sensor10,Nguyên Tử Lực,11.967007,108.454842,1528.4,13/04/2022,4/13/2022,0:16:13,18.5,...,0,0,X,0,159.00,63.87,13.64,0.26,18.52,159.00
24092,564bb8cb-5c73-4554-b0dd-2244c2a28e28,Sensor10,Nguyên Tử Lực,11.967000,108.454826,1516.3,13/04/2022,4/13/2022,0:11:14,18.7,...,0,0,X,0,160.04,64.86,13.64,0.26,18.52,160.04
24093,564bb8cb-5c73-4554-b0dd-2244c2a28e28,Sensor10,Nguyên Tử Lực,11.967002,108.454887,1516.3,13/04/2022,4/13/2022,0:06:06,18.8,...,0,0,X,0,156.94,61.39,13.64,0.26,18.52,156.94
24094,564bb8cb-5c73-4554-b0dd-2244c2a28e28,Sensor10,Nguyên Tử Lực,11.966989,108.454842,1522.9,13/04/2022,4/13/2022,0:01:10,18.7,...,0,0,X,0,156.94,61.39,13.64,0.26,18.52,156.94

In [ ]:
df['Date and time'] = df['New date'] + " " + df['Time']
#df['Time'] = df['TimeStamp'].apply(lambda d: datetime.date.fromtimestamp(d))
#df['Date and time'] = pd.to_datetime(df['New date'].astype(str) + ' ' +df['Time'].astype(str))
#df['Date and time'] = pd.to_datetime(df['New date'] + ' ' + df['Time'])
#df['Time'] = df['Time'].astype('datetime64')

In [ ]:
df['Date and time']

0        11/12/2022 23:57:37
1        11/12/2022 23:52:46
2        11/12/2022 23:47:36
3        11/12/2022 23:42:42
4        11/12/2022 23:37:32
                ...
24090      4/13/2022 0:21:07
24091      4/13/2022 0:16:13
24092      4/13/2022 0:11:14
24093      4/13/2022 0:06:06
24094      4/13/2022 0:01:10
Name: Date and time, Length: 24095, dtype: object

In [ ]:
#df['ds'] = pd.DatetimeIndex(df['Date and time'])
df['ds'] = pd.to_datetime(df['Date and time'])

In [ ]:
# test = df[['ds','o3']]

In [ ]:
# test.index = pd.to_datetime(test.index)

# res = test.resample('s').interpolate().resample('15T').asfreq().dropna()
# print(res)

In [ ]:
#!pip install datetime

In [ ]:
# test.sample(
#     sampling_period=timedelta(minutes=15),
#     start=datetime(2022, 1, 6, 1),
#     end=datetime(2022, 11, 26, 11),
#     interpolate='linear',
# )

In [ ]:
#import datetime

In [ ]:
# test.set_index('ds')

In [ ]:
# df.index = pd.to_datetime(df.index)
# test = test.reindex(pd.date_range('2022-01-01','2022-11-25'), fill_value=0)

# New Section

In [ ]:
# df["df"]= pd.to_datetime(df["Date and Time"])

In [ ]:
df.columns

Index(['SensorID', 'SensorCode', 'SensorName', 'Latitude', 'Longtitude',
       'Altitude', 'Date', 'New date', 'Time', 'Temperature', 'Humidity',
       'PM1.0', 'pm2.5', 'pm10', 'co', 'no2', 'so2', 'o3', 'UV', 'WindSpeed',
       'WindGust', 'Direction', 'Rainfall', 'PM2.5_AQI', 'PM10_AQI', 'CO_AQI',
       'NO2_AQI', 'MAX_O3_AQI', 'AQI', 'Date and time', 'ds'],
      dtype='object')

pm2.5

In [ ]:
df1 = df[['ds','PM2.5_AQI']]

In [ ]:
df

,SensorID,SensorCode,SensorName,Latitude,Longtitude,Altitude,Date,New date,Time,Temperature,...,Direction,Rainfall,PM2.5_AQI,PM10_AQI,CO_AQI,NO2_AQI,MAX_O3_AQI,AQI,Date and time,ds
0,564bb8cb-5c73-4554-b0dd-2244c2a28e28,Sensor10,Nguyên Tử Lực,11.966978,108.454849,1532.7,12/11/2022,11/12/2022,23:57:37,20.2,...,X,0,4.17,1.85,351.20,0.14,18.52,351.20,11/12/2022 23:57:37,2022-11-12 23:57:37
1,564bb8cb-5c73-4554-b0dd-2244c2a28e28,Sensor10,Nguyên Tử Lực,11.966997,108.454826,1527.1,12/11/2022,11/12/2022,23:52:46,20.3,...,X,0,0.00,0.00,349.40,0.14,18.52,349.40,11/12/2022 23:52:46,2022-11-12 23:52:46
2,564bb8cb-5c73-4554-b0dd-2244c2a28e28,Sensor10,Nguyên Tử Lực,11.966966,108.454826,1527.1,12/11/2022,11/12/2022,23:47:36,19.4,...,X,0,16.67,3.70,351.20,0.14,18.52,351.20,11/12/2022 23:47:36,2022-11-12 23:47:36
3,564bb8cb-5c73-4554-b0dd-2244c2a28e28,Sensor10,Nguyên Tử Lực,11.966986,108.454826,1527.1,12/11/2022,11/12/2022,23:42:42,19.2,...,X,0,0.00,0.93,349.40,0.14,18.52,349.40,11/12/2022 23:42:42,2022-11-12 23:42:42
4,564bb8cb-5c73-4554-b0dd-2244c2a28e28,Sensor10,Nguyên Tử Lực,11.966983,108.454826,1517.7,12/11/2022,11/12/2022,23:37:32,19.2,...,X,0,0.00,0.00,347.50,0.14,18.52,347.50,11/12/2022 23:37:32,2022-11-12 23:37:32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24090,564bb8cb-5c73-4554-b0dd-2244c2a28e28,Sensor10,Nguyên Tử Lực,11.966998,108.454842,1523.8,13/04/2022,4/13/2022,0:21:07,18.6,...,X,0,159.00,63.37,13.64,0.26,18.52,159.00,4/13/2022 0:21:07,2022-04-13 00:21:07
24091,564bb8cb-5c73-4554-b0dd-2244c2a28e28,Sensor10,Nguyên Tử Lực,11.967007,108.454842,1528.4,13/04/2022,4/13/2022,0:16:13,18.5,...,X,0,159.00,63.87,13.64,0.26,18.52,159.00,4/13/2022 0:16:13,2022-04-13 00:16:13
24092,564bb8cb-5c73-4554-b0dd-2244c2a28e28,Sensor10,Nguyên Tử Lực,11.967000,108.454826,1516.3,13/04/2022,4/13/2022,0:11:14,18.7,...,X,0,160.04,64.86,13.64,0.26,18.52,160.04,4/13/2022 0:11:14,2022-04-13 00:11:14
24093,564bb8cb-5c73-4554-b0dd-2244c2a28e28,Sensor10,Nguyên Tử Lực,11.967002,108.454887,1516.3,13/04/2022,4/13/2022,0:06:06,18.8,...,X,0,156.94,61.39,13.64,0.26,18.52,156.94,4/13/2022 0:06:06,2022-04-13 00:06:06
24094,564bb8cb-5c73-4554-b0dd-2244c2a28e28,Sensor10,Nguyên Tử Lực,11.966989,108.454842,1522.9,13/04/2022,4/13/2022,0:01:10,18.7,...,X,0,156.94,61.39,13.64,0.26,18.52,156.94,4/13/2022 0:01:10,2022-04-13 00:01:10

In [ ]:
df1

                       ds  PM2.5_AQI
0     2022-11-12 23:57:37       4.17
1     2022-11-12 23:52:46       0.00
2     2022-11-12 23:47:36      16.67
3     2022-11-12 23:42:42       0.00
4     2022-11-12 23:37:32       0.00
...                   ...        ...
24090 2022-04-13 00:21:07     159.00
24091 2022-04-13 00:16:13     159.00
24092 2022-04-13 00:11:14     160.04
24093 2022-04-13 00:06:06     156.94
24094 2022-04-13 00:01:10     156.94

[24095 rows x 2 columns]

In [ ]:
df1.columns = ['ds', 'y']

In [ ]:
m = Prophet(interval_width=0.95, daily_seasonality=True)
model = m.fit(df1)

INFO:fbprophet:Disabling yearly seasonality. Run prophet with yearly_seasonality=True to override this.

In [ ]:
model.component_modes

{'additive': ['weekly',
  'daily',
  'additive_terms',
  'extra_regressors_additive',
  'holidays'],
 'multiplicative': ['multiplicative_terms', 'extra_regressors_multiplicative']}

In [ ]:
future = m.make_future_dataframe(periods=500,freq='H')
forecast = m.predict(future)
forecast.head()

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,daily,daily_lower,daily_upper,weekly,weekly_lower,weekly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
0,2022-04-08 14:40:53,147.603680,91.826772,189.817835,147.603680,147.603680,-7.065904,-7.065904,-7.065904,-5.311171,-5.311171,-5.311171,-1.754733,-1.754733,-1.754733,0.0,0.0,0.0,140.537776
1,2022-04-08 14:45:47,147.606366,89.770795,193.462528,147.606366,147.606366,-6.695470,-6.695470,-6.695470,-4.949855,-4.949855,-4.949855,-1.745615,-1.745615,-1.745615,0.0,0.0,0.0,140.910896
2,2022-04-08 14:50:42,147.609062,88.127789,194.112555,147.609062,147.609062,-6.298838,-6.298838,-6.298838,-4.562443,-4.562443,-4.562443,-1.736395,-1.736395,-1.736395,0.0,0.0,0.0,141.310224
3,2022-04-08 14:55:50,147.611877,88.638626,190.714638,147.611877,147.611877,-5.857946,-5.857946,-5.857946,-4.131251,-4.131251,-4.131251,-1.726695,-1.726695,-1.726695,0.0,0.0,0.0,141.753931
4,2022-04-08 15:00:43,147.614555,93.752181,191.454818,147.614555,147.614555,-5.413170,-5.413170,-5.413170,-3.695773,-3.695773,-3.695773,-1.717397,-1.717397,-1.717397,0.0,0.0,0.0,142.201384

In [ ]:
df1 = forecast[['ds','yhat']]

In [ ]:
df1.columns = ['ds','PM2.5_AQI']
df1

                       ds   PM2.5_AQI
0     2022-04-08 14:40:53  140.537776
1     2022-04-08 14:45:47  140.910896
2     2022-04-08 14:50:42  141.310224
3     2022-04-08 14:55:50  141.753931
4     2022-04-08 15:00:43  142.201384
...                   ...         ...
24590 2022-12-07 15:58:09   19.135870
24591 2022-12-07 16:58:09   27.647492
24592 2022-12-07 17:58:09   33.849016
24593 2022-12-07 18:58:09   34.919860
24594 2022-12-07 19:58:09   31.255300

[24595 rows x 2 columns]

In [ ]:
df.columns

Index(['SensorID', 'SensorCode', 'SensorName', 'Latitude', 'Longtitude',
       'Altitude', 'Date', 'New date', 'Time', 'Temperature', 'Humidity',
       'PM1.0', 'pm2.5', 'pm10', 'co', 'no2', 'so2', 'o3', 'UV', 'WindSpeed',
       'WindGust', 'Direction', 'Rainfall', 'PM2.5_AQI', 'PM10_AQI', 'CO_AQI',
       'NO2_AQI', 'MAX_O3_AQI', 'AQI', 'Date and time', 'ds'],
      dtype='object')

pm10

In [ ]:
df2 = df[['ds','PM10_AQI']]

In [ ]:
df2.columns = ['ds', 'y']

In [ ]:
m = Prophet(interval_width=0.95, daily_seasonality=True)
model = m.fit(df2)

INFO:fbprophet:Disabling yearly seasonality. Run prophet with yearly_seasonality=True to override this.

In [ ]:
future = m.make_future_dataframe(periods=500,freq='H')
forecast1 = m.predict(future)
forecast1.head()

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,daily,daily_lower,daily_upper,weekly,weekly_lower,weekly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
0,2022-04-08 14:40:53,55.908646,32.889449,72.137040,55.908646,55.908646,-3.497152,-3.497152,-3.497152,-2.409620,-2.409620,-2.409620,-1.087532,-1.087532,-1.087532,0.0,0.0,0.0,52.411494
1,2022-04-08 14:45:47,55.913176,31.688008,71.674936,55.913176,55.913176,-3.372348,-3.372348,-3.372348,-2.288374,-2.288374,-2.288374,-1.083974,-1.083974,-1.083974,0.0,0.0,0.0,52.540829
2,2022-04-08 14:50:42,55.917722,32.909130,72.391440,55.917722,55.917722,-3.236310,-3.236310,-3.236310,-2.155951,-2.155951,-2.155951,-1.080359,-1.080359,-1.080359,0.0,0.0,0.0,52.681411
3,2022-04-08 14:55:50,55.922468,31.457676,71.714165,55.922468,55.922468,-3.082614,-3.082614,-3.082614,-2.006075,-2.006075,-2.006075,-1.076540,-1.076540,-1.076540,0.0,0.0,0.0,52.839853
4,2022-04-08 15:00:43,55.926982,31.730739,72.071327,55.926982,55.926982,-2.925304,-2.925304,-2.925304,-1.852442,-1.852442,-1.852442,-1.072863,-1.072863,-1.072863,0.0,0.0,0.0,53.001678

In [ ]:
df2 = forecast1[['ds','yhat']]

In [ ]:
df2.columns = ['ds','PM10_AQI']

In [ ]:
df2

                       ds   PM10_AQI
0     2022-04-08 14:40:53  52.411494
1     2022-04-08 14:45:47  52.540829
2     2022-04-08 14:50:42  52.681411
3     2022-04-08 14:55:50  52.839853
4     2022-04-08 15:00:43  53.001678
...                   ...        ...
24590 2022-12-07 15:58:09   6.334656
24591 2022-12-07 16:58:09   9.738477
24592 2022-12-07 17:58:09  12.325797
24593 2022-12-07 18:58:09  12.865045
24594 2022-12-07 19:58:09  11.449611

[24595 rows x 2 columns]

In [ ]:
# comb

In [ ]:
# with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
#     print(comb)

co

In [ ]:
df3 = df[['ds','CO_AQI']]

In [ ]:
df3.columns = ['ds', 'y']

In [ ]:
m = Prophet(interval_width=0.95, daily_seasonality=True)
model = m.fit(df3)

INFO:fbprophet:Disabling yearly seasonality. Run prophet with yearly_seasonality=True to override this.

In [ ]:
future = m.make_future_dataframe(periods=500,freq='H')
forecast2 = m.predict(future)
forecast2.head()

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,daily,daily_lower,daily_upper,weekly,weekly_lower,weekly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
0,2022-04-08 14:40:53,15.978106,-48.928999,73.525787,15.978106,15.978106,-2.466579,-2.466579,-2.466579,-0.755419,-0.755419,-0.755419,-1.711160,-1.711160,-1.711160,0.0,0.0,0.0,13.511526
1,2022-04-08 14:45:47,15.976227,-44.491828,75.058694,15.976227,15.976227,-2.394645,-2.394645,-2.394645,-0.650530,-0.650530,-0.650530,-1.744115,-1.744115,-1.744115,0.0,0.0,0.0,13.581582
2,2022-04-08 14:50:42,15.974343,-50.779487,77.142229,15.974343,15.974343,-2.324587,-2.324587,-2.324587,-0.547347,-0.547347,-0.547347,-1.777240,-1.777240,-1.777240,0.0,0.0,0.0,13.649756
3,2022-04-08 14:55:50,15.972375,-45.922505,74.556050,15.972375,15.972375,-2.253961,-2.253961,-2.253961,-0.442074,-0.442074,-0.442074,-1.811887,-1.811887,-1.811887,0.0,0.0,0.0,13.718414
4,2022-04-08 15:00:43,15.970503,-45.020962,76.368102,15.970503,15.970503,-2.189387,-2.189387,-2.189387,-0.344482,-0.344482,-0.344482,-1.844905,-1.844905,-1.844905,0.0,0.0,0.0,13.781116

In [ ]:
df3 = forecast2[['ds','yhat']]

In [ ]:
df3.columns = ['ds','CO_AQI']

In [ ]:
df3

                       ds      CO_AQI
0     2022-04-08 14:40:53   13.511526
1     2022-04-08 14:45:47   13.581582
2     2022-04-08 14:50:42   13.649756
3     2022-04-08 14:55:50   13.718414
4     2022-04-08 15:00:43   13.781116
...                   ...         ...
24590 2022-12-07 15:58:09  397.919535
24591 2022-12-07 16:58:09  398.258986
24592 2022-12-07 17:58:09  398.179691
24593 2022-12-07 18:58:09  397.948621
24594 2022-12-07 19:58:09  397.784296

[24595 rows x 2 columns]

no2

In [ ]:
df5 = df[['ds','NO2_AQI']]

In [ ]:
df5.columns = ['ds', 'y']

In [ ]:
m = Prophet(interval_width=0.95, daily_seasonality=True)
model = m.fit(df5)

INFO:fbprophet:Disabling yearly seasonality. Run prophet with yearly_seasonality=True to override this.

In [ ]:
future = m.make_future_dataframe(periods=500,freq='H')
forecast3 = m.predict(future)
forecast3.head()

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,daily,daily_lower,daily_upper,weekly,weekly_lower,weekly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
0,2022-04-08 14:40:53,0.258206,0.233666,0.294505,0.258206,0.258206,0.005783,0.005783,0.005783,0.005418,0.005418,0.005418,0.000365,0.000365,0.000365,0.0,0.0,0.0,0.263989
1,2022-04-08 14:45:47,0.258213,0.233773,0.294730,0.258213,0.258213,0.005621,0.005621,0.005621,0.005228,0.005228,0.005228,0.000394,0.000394,0.000394,0.0,0.0,0.0,0.263835
2,2022-04-08 14:50:42,0.258221,0.230365,0.295124,0.258221,0.258221,0.005456,0.005456,0.005456,0.005033,0.005033,0.005033,0.000423,0.000423,0.000423,0.0,0.0,0.0,0.263676
3,2022-04-08 14:55:50,0.258228,0.232196,0.295904,0.258228,0.258228,0.005279,0.005279,0.005279,0.004826,0.004826,0.004826,0.000453,0.000453,0.000453,0.0,0.0,0.0,0.263508
4,2022-04-08 15:00:43,0.258236,0.232615,0.292737,0.258236,0.258236,0.005109,0.005109,0.005109,0.004626,0.004626,0.004626,0.000483,0.000483,0.000483,0.0,0.0,0.0,0.263344

In [ ]:
df5 = forecast3[['ds','yhat']]

In [ ]:
df5.columns = ['ds','NO2_AQI']

In [ ]:
df5

                       ds   NO2_AQI
0     2022-04-08 14:40:53  0.263989
1     2022-04-08 14:45:47  0.263835
2     2022-04-08 14:50:42  0.263676
3     2022-04-08 14:55:50  0.263508
4     2022-04-08 15:00:43  0.263344
...                   ...       ...
24590 2022-12-07 15:58:09  0.133710
24591 2022-12-07 16:58:09  0.131658
24592 2022-12-07 17:58:09  0.130272
24593 2022-12-07 18:58:09  0.129539
24594 2022-12-07 19:58:09  0.129192

[24595 rows x 2 columns]

In [ ]:
df

,SensorID,SensorCode,SensorName,Latitude,Longtitude,Altitude,Date,New date,Time,Temperature,...,Direction,Rainfall,PM2.5_AQI,PM10_AQI,CO_AQI,NO2_AQI,MAX_O3_AQI,AQI,Date and time,ds
0,564bb8cb-5c73-4554-b0dd-2244c2a28e28,Sensor10,Nguyên Tử Lực,11.966978,108.454849,1532.7,12/11/2022,11/12/2022,23:57:37,20.2,...,X,0,4.17,1.85,351.20,0.14,18.52,351.20,11/12/2022 23:57:37,2022-11-12 23:57:37
1,564bb8cb-5c73-4554-b0dd-2244c2a28e28,Sensor10,Nguyên Tử Lực,11.966997,108.454826,1527.1,12/11/2022,11/12/2022,23:52:46,20.3,...,X,0,0.00,0.00,349.40,0.14,18.52,349.40,11/12/2022 23:52:46,2022-11-12 23:52:46
2,564bb8cb-5c73-4554-b0dd-2244c2a28e28,Sensor10,Nguyên Tử Lực,11.966966,108.454826,1527.1,12/11/2022,11/12/2022,23:47:36,19.4,...,X,0,16.67,3.70,351.20,0.14,18.52,351.20,11/12/2022 23:47:36,2022-11-12 23:47:36
3,564bb8cb-5c73-4554-b0dd-2244c2a28e28,Sensor10,Nguyên Tử Lực,11.966986,108.454826,1527.1,12/11/2022,11/12/2022,23:42:42,19.2,...,X,0,0.00,0.93,349.40,0.14,18.52,349.40,11/12/2022 23:42:42,2022-11-12 23:42:42
4,564bb8cb-5c73-4554-b0dd-2244c2a28e28,Sensor10,Nguyên Tử Lực,11.966983,108.454826,1517.7,12/11/2022,11/12/2022,23:37:32,19.2,...,X,0,0.00,0.00,347.50,0.14,18.52,347.50,11/12/2022 23:37:32,2022-11-12 23:37:32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24090,564bb8cb-5c73-4554-b0dd-2244c2a28e28,Sensor10,Nguyên Tử Lực,11.966998,108.454842,1523.8,13/04/2022,4/13/2022,0:21:07,18.6,...,X,0,159.00,63.37,13.64,0.26,18.52,159.00,4/13/2022 0:21:07,2022-04-13 00:21:07
24091,564bb8cb-5c73-4554-b0dd-2244c2a28e28,Sensor10,Nguyên Tử Lực,11.967007,108.454842,1528.4,13/04/2022,4/13/2022,0:16:13,18.5,...,X,0,159.00,63.87,13.64,0.26,18.52,159.00,4/13/2022 0:16:13,2022-04-13 00:16:13
24092,564bb8cb-5c73-4554-b0dd-2244c2a28e28,Sensor10,Nguyên Tử Lực,11.967000,108.454826,1516.3,13/04/2022,4/13/2022,0:11:14,18.7,...,X,0,160.04,64.86,13.64,0.26,18.52,160.04,4/13/2022 0:11:14,2022-04-13 00:11:14
24093,564bb8cb-5c73-4554-b0dd-2244c2a28e28,Sensor10,Nguyên Tử Lực,11.967002,108.454887,1516.3,13/04/2022,4/13/2022,0:06:06,18.8,...,X,0,156.94,61.39,13.64,0.26,18.52,156.94,4/13/2022 0:06:06,2022-04-13 00:06:06
24094,564bb8cb-5c73-4554-b0dd-2244c2a28e28,Sensor10,Nguyên Tử Lực,11.966989,108.454842,1522.9,13/04/2022,4/13/2022,0:01:10,18.7,...,X,0,156.94,61.39,13.64,0.26,18.52,156.94,4/13/2022 0:01:10,2022-04-13 00:01:10

o3

In [ ]:
df6 = df[['ds','MAX_O3_AQI']]

In [ ]:
df

,SensorID,SensorCode,SensorName,Latitude,Longtitude,Altitude,Date,New date,Time,Temperature,...,Direction,Rainfall,PM2.5_AQI,PM10_AQI,CO_AQI,NO2_AQI,MAX_O3_AQI,AQI,Date and time,ds
0,564bb8cb-5c73-4554-b0dd-2244c2a28e28,Sensor10,Nguyên Tử Lực,11.966978,108.454849,1532.7,12/11/2022,11/12/2022,23:57:37,20.2,...,X,0,4.17,1.85,351.20,0.14,18.52,351.20,11/12/2022 23:57:37,2022-11-12 23:57:37
1,564bb8cb-5c73-4554-b0dd-2244c2a28e28,Sensor10,Nguyên Tử Lực,11.966997,108.454826,1527.1,12/11/2022,11/12/2022,23:52:46,20.3,...,X,0,0.00,0.00,349.40,0.14,18.52,349.40,11/12/2022 23:52:46,2022-11-12 23:52:46
2,564bb8cb-5c73-4554-b0dd-2244c2a28e28,Sensor10,Nguyên Tử Lực,11.966966,108.454826,1527.1,12/11/2022,11/12/2022,23:47:36,19.4,...,X,0,16.67,3.70,351.20,0.14,18.52,351.20,11/12/2022 23:47:36,2022-11-12 23:47:36
3,564bb8cb-5c73-4554-b0dd-2244c2a28e28,Sensor10,Nguyên Tử Lực,11.966986,108.454826,1527.1,12/11/2022,11/12/2022,23:42:42,19.2,...,X,0,0.00,0.93,349.40,0.14,18.52,349.40,11/12/2022 23:42:42,2022-11-12 23:42:42
4,564bb8cb-5c73-4554-b0dd-2244c2a28e28,Sensor10,Nguyên Tử Lực,11.966983,108.454826,1517.7,12/11/2022,11/12/2022,23:37:32,19.2,...,X,0,0.00,0.00,347.50,0.14,18.52,347.50,11/12/2022 23:37:32,2022-11-12 23:37:32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24090,564bb8cb-5c73-4554-b0dd-2244c2a28e28,Sensor10,Nguyên Tử Lực,11.966998,108.454842,1523.8,13/04/2022,4/13/2022,0:21:07,18.6,...,X,0,159.00,63.37,13.64,0.26,18.52,159.00,4/13/2022 0:21:07,2022-04-13 00:21:07
24091,564bb8cb-5c73-4554-b0dd-2244c2a28e28,Sensor10,Nguyên Tử Lực,11.967007,108.454842,1528.4,13/04/2022,4/13/2022,0:16:13,18.5,...,X,0,159.00,63.87,13.64,0.26,18.52,159.00,4/13/2022 0:16:13,2022-04-13 00:16:13
24092,564bb8cb-5c73-4554-b0dd-2244c2a28e28,Sensor10,Nguyên Tử Lực,11.967000,108.454826,1516.3,13/04/2022,4/13/2022,0:11:14,18.7,...,X,0,160.04,64.86,13.64,0.26,18.52,160.04,4/13/2022 0:11:14,2022-04-13 00:11:14
24093,564bb8cb-5c73-4554-b0dd-2244c2a28e28,Sensor10,Nguyên Tử Lực,11.967002,108.454887,1516.3,13/04/2022,4/13/2022,0:06:06,18.8,...,X,0,156.94,61.39,13.64,0.26,18.52,156.94,4/13/2022 0:06:06,2022-04-13 00:06:06
24094,564bb8cb-5c73-4554-b0dd-2244c2a28e28,Sensor10,Nguyên Tử Lực,11.966989,108.454842,1522.9,13/04/2022,4/13/2022,0:01:10,18.7,...,X,0,156.94,61.39,13.64,0.26,18.52,156.94,4/13/2022 0:01:10,2022-04-13 00:01:10

In [ ]:
df6.columns = ['ds', 'y']

In [ ]:
m = Prophet(interval_width=0.95, daily_seasonality=True)
model = m.fit(df6)

INFO:fbprophet:Disabling yearly seasonality. Run prophet with yearly_seasonality=True to override this.

In [ ]:
future = m.make_future_dataframe(periods=500,freq='H')
forecast5 = m.predict(future)
forecast5.head()

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,daily,daily_lower,daily_upper,weekly,weekly_lower,weekly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
0,2022-04-08 14:40:53,71.737577,-4.391272,234.310469,71.737577,71.737577,42.548908,42.548908,42.548908,43.980496,43.980496,43.980496,-1.431588,-1.431588,-1.431588,0.0,0.0,0.0,114.286485
1,2022-04-08 14:45:47,71.730833,-0.249704,229.138010,71.730833,71.730833,41.368086,41.368086,41.368086,42.776908,42.776908,42.776908,-1.408821,-1.408821,-1.408821,0.0,0.0,0.0,113.098919
2,2022-04-08 14:50:42,71.724065,-15.217862,232.222669,71.724065,71.724065,40.165650,40.165650,40.165650,41.551883,41.551883,41.551883,-1.386234,-1.386234,-1.386234,0.0,0.0,0.0,111.889715
3,2022-04-08 14:55:50,71.717000,-8.883968,228.834120,71.717000,71.717000,38.893847,38.893847,38.893847,40.256774,40.256774,40.256774,-1.362927,-1.362927,-1.362927,0.0,0.0,0.0,110.610847
4,2022-04-08 15:00:43,71.710279,-5.877041,233.721785,71.710279,71.710279,37.670681,37.670681,37.670681,39.011700,39.011700,39.011700,-1.341019,-1.341019,-1.341019,0.0,0.0,0.0,109.380959

In [ ]:
df6 = forecast3[['ds','yhat']]

In [ ]:
df6.columns = ['ds','MAX_O3_AQI']

merge all

In [ ]:
comb = pd.merge(df1, df2, on='ds', how='inner')
comb1 = pd.merge(comb,df3,on='ds', how='inner')
#comb2 = pd.merge(comb1,df4,on='ds', how='inner')
comb3 = pd.merge(comb1,df5,on='ds', how='inner')
comb4 = pd.merge(comb3,df6,on='ds', how='inner')

In [ ]:
comb4

,ds,PM2.5_AQI,PM10_AQI,CO_AQI,NO2_AQI,MAX_O3_AQI
0,2022-04-08 14:40:53,140.537776,52.411494,13.511526,0.263989,0.263989
1,2022-04-08 14:45:47,140.910896,52.540829,13.581582,0.263835,0.263835
2,2022-04-08 14:50:42,141.310224,52.681411,13.649756,0.263676,0.263676
3,2022-04-08 14:55:50,141.753931,52.839853,13.718414,0.263508,0.263508
4,2022-04-08 15:00:43,142.201384,53.001678,13.781116,0.263344,0.263344
...,...,...,...,...,...,...
24590,2022-12-07 15:58:09,19.135870,6.334656,397.919535,0.133710,0.133710
24591,2022-12-07 16:58:09,27.647492,9.738477,398.258986,0.131658,0.131658
24592,2022-12-07 17:58:09,33.849016,12.325797,398.179691,0.130272,0.130272
24593,2022-12-07 18:58:09,34.919860,12.865045,397.948621,0.129539,0.129539
24594,2022-12-07 19:58:09,31.255300,11.449611,397.784296,0.129192,0.129192

In [ ]:
comb4.tail()

,ds,PM2.5_AQI,PM10_AQI,CO_AQI,NO2_AQI,MAX_O3_AQI
24590,2022-12-07 15:58:09,19.135870,6.334656,397.919535,0.133710,0.133710
24591,2022-12-07 16:58:09,27.647492,9.738477,398.258986,0.131658,0.131658
24592,2022-12-07 17:58:09,33.849016,12.325797,398.179691,0.130272,0.130272
24593,2022-12-07 18:58:09,34.919860,12.865045,397.948621,0.129539,0.129539
24594,2022-12-07 19:58:09,31.255300,11.449611,397.784296,0.129192,0.129192

In [ ]:
type(comb4)

pandas.core.frame.DataFrame

In [ ]:
from google.colab import files
comb4.to_csv('comb4.csv') 
files.download('comb4.csv')

In [ ]:
# from fbprophet.diagnostics import cross_validation
# df_cv = cross_validation(model, initial='2000', period='250', horizon = '500')
# df_cv.head()

In [ ]:
#testing for time series

In [ ]:
cd = df[['Date and time']]

In [ ]:
type(cd)

pandas.core.frame.DataFrame

In [ ]:
cd

             Date and time
0      11/12/2022 19:52:56
1      11/12/2022 19:47:56
2      11/12/2022 19:42:56
3      11/12/2022 19:37:56
4      11/12/2022 19:32:56
...                    ...
28843    4/13/2022 0:20:15
28844    4/13/2022 0:15:15
28845    4/13/2022 0:10:15
28846    4/13/2022 0:05:15
28847    4/13/2022 0:00:15

[28848 rows x 1 columns]

In [ ]:
#s = pd.read_csv(data).squeeze('columns')
cd.index = pd.to_datetime(cd.index)

In [ ]:
cd['Date and time'] = pd.DatetimeIndex(cd['Date and time'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
# es = cd.resample('s').interpolate().resample('15T').asfreq().dropna()
# print(res)

In [ ]:
cd.info

<bound method DataFrame.info of                                     Date and time
1970-01-01 00:00:00.000000000 2022-11-12 19:52:56
1970-01-01 00:00:00.000000001 2022-11-12 19:47:56
1970-01-01 00:00:00.000000002 2022-11-12 19:42:56
1970-01-01 00:00:00.000000003 2022-11-12 19:37:56
1970-01-01 00:00:00.000000004 2022-11-12 19:32:56
...                                           ...
1970-01-01 00:00:00.000028843 2022-04-13 00:20:15
1970-01-01 00:00:00.000028844 2022-04-13 00:15:15
1970-01-01 00:00:00.000028845 2022-04-13 00:10:15
1970-01-01 00:00:00.000028846 2022-04-13 00:05:15
1970-01-01 00:00:00.000028847 2022-04-13 00:00:15

[28848 rows x 1 columns]>

In [ ]:
!pip install traces

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting traces
  Downloading traces-0.6.0-py2.py3-none-any.whl (18 kB)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from traces) (2.8.2)
Collecting infinity
  Downloading infinity-1.5.tar.gz (5.4 kB)
Requirement already satisfied: sortedcontainers in /usr/local/lib/python3.7/dist-packages (from traces) (2.4.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil->traces) (1.15.0)
Building wheels for collected packages: infinity
  Building wheel for infinity (setup.py) ... done
  Created wheel for infinity: filename=infinity-1.5-py3-none-any.whl size=3095 sha256=0ce5c8a86cd345c2d328143e299da66de2d63595b1ce2a349f61bc1afb0ff861
  Stored in directory: /root/.cache/pip/wheels/ee/2c/f4/26985d995b1d5930ab73914f76ffccd54b1af31c2e68b507bc
Successfully built infinity
Installing collected packages: infinity, traces
Successfully installed infinity-1.5 traces-0.6.0

In [ ]:
ts = traces.TimeSeries([
    (datetime(1992, 8, 27, 7, 46, 48), 28.0),
    (datetime(1992, 8, 27, 8, 0, 48), 28.2),
    (datetime(1992, 8, 27, 9, 3, 48), 30.0)
])

NameError: ignored

In [ ]:
from datetime import datetime
import traces

ts = traces.TimeSeries(data=[
    (datetime(2016, 9, 27, 23, 0, 0, 100000), 10),
    (datetime(2016, 9, 27, 23, 0, 1, 200000), 8),
    (datetime(2016, 9, 27, 23, 0, 1, 600000), 0),
    (datetime(2016, 9, 27, 23, 0, 6, 300000), 4),
])

regularized = ts.moving_average(
    start=datetime(2016, 9, 27, 23, 0, 1),
    sampling_period=1,
    placement='left',
)

In [ ]:
regularized

In [ ]:
from datetime import datetime
import traces

ts = traces.TimeSeries(data=[
    (datetime(2016, 9, 20)),
    (datetime(2016, 9, 21)),
    (datetime(2016, 9, 25)),
    (datetime(2016, 9, 27))])

In [ ]:
histogram = ts.distribution(
    start=datetime(2016, 9, 20),
    end=datetime(2016, 9, 30),
)
print(histogram.mean())

In [ ]:
histogram

In [ ]:
from datetime import datetime
import traces

ts = traces.TimeSeries(data=[
    (datetime(2016, 9, 27, 23, 0, 0, 100000), 10),
    (datetime(2016, 9, 27, 23, 0, 1, 200000), 8),
    (datetime(2016, 9, 27, 23, 0, 1, 600000), 0),
    (datetime(2016, 9, 27, 23, 0, 6, 300000), 4),
])

regularized = ts.moving_average(
    start=datetime(2016, 9, 27, 23, 0, 1),
    sampling_period=1,
    placement='left',
)